<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Costumers</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="nav-brand">Crud Node & mySQL</a>
    </nav>